@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: Roboto, sans-serif;
}

.header{
  background-color: #1f2937;
}

.logoname{
  font-size: 24px;
  color: #F9FAF8;
}

a{
  font-size: 18px;
  color: #E5E7eb
}

.hero{
  background-color: #1f2937;
}

.maintxt{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.sectxt{
  font-size: 18px;
  color: #E5E7eb
}

button{
  background-color: #3882f6;
}

.quotesection{
  background-color: #E5E7eb;
}

.quote{
  text-emphasis: light;
  font-size: 36px;
  color: #1f2937;
}

footer{
  background-color: #1f2937;
}